<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB</title>
    <link rel="stylesheet" href="../static/styles/103-common.css">
    <link rel="stylesheet" href="../static/styles/103-filters.css">
    <link rel="stylesheet" href="../static/styles/103-footer.css">
    <link rel="stylesheet" href="../static/styles/103-header.css">
    <link rel="stylesheet" href="../static/styles/103-places.css">
    <link rel="icon" href="../static/images/icon.png">
</head>
<body>
    <header></header>
    <div class="container">
        <section class="filters">
            <button>Search</button>
            <div class="locations">
                <h3>States</h3>
                <h4>Select a state ...</h4>
                <ul class="popover">
                    {% for state in states.values() | sort(attribute="name") %}
                    <li>
                        <h2>{{ state.name }}</h2>
                        <ul class="cities">
                            {% for city in state.cities | sort(attribute="name") %}
                            <li>{{ city.name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <h4>Select amenities ...</h4>
                <ul class="popover">
                    {% for amenity in amenities.values() | sort(attribute="name") %}
                    <li>{{ amenity.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <h1 class="places_title">Places</h1>
    <section class="places">
        {% for place in places.values() | sort(attribute="name") %}
        <article>
            <h2 class="place_name">{{ place.name }}</h2>
            <div class="price_by_night">${{ place.price_by_night }}</div>
            <div class="information">
                <div class="max_guest">
                    <p>{{ place.max_guest }} Guests</p>
                </div>
                <div class="number_rooms">
                    <p>{{ place.number_rooms }} Rooms</p>
                </div>
                <div class="number_bathrooms">
                    <p>{{ place.number_bathrooms }} Bathrooms</p>
                </div>
            </div>
            <div class="user">
                <p><b>Owner:</b> {{ place.user.first_name }} {{ place.user.last_name }}</p>
            </div>
            <div class="description">
                <span>{{ place.description | safe }}</span>
            </div>
            <div class="amenities_section">
                <h3 class="title">Amenities</h3>
                <ul>
                    <li>TV</li>
                    <li>WI-FI</li>
                    <li>pets friendly</li>
                </ul>
            </div>
            <div class="reviews">
                <h2 class="title">3 Reviews</h2>
                <ul>
                    <li>
                        <h3>From Bob Dylan the 27th January 2017</h3>
                    </li>
                    <li>
                        <p>Lorem ipsum dolor sit amet</p>
                    </li>
                </ul>
            </div>
        </article>
        {% endfor %}
    </section>
    <footer>Best School</footer>
</body>
</html>
